@font-face {
    font-family: 'main_font';
    src: url(../a_font/NotoSansKR-VariableFont_wght.ttf);
    font-weight: 500;
}

@font-face {
    font-family: 'sub_font';
    src: url(../a_font/SEBANG/SEBANG\ Gothic.ttf);
}

body{
    width: 100%;
    background-color: #F7F7F9;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.xi-angle-left{
    color: #6658B1;
}

#text_login {
    font-family: 'main_font';
}


#logo{
    font-family: 'main_font';
}

#login-header {
    display: flex;
    align-items: center;
}

#div_back {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

#back {
    border: none; 
    background: none; 
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-right: 20px;
}

#back img {
    width: 24px; 
    height: 24px; 
    margin-right: 5px;
}

.input_form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}

#login{
    background-color: #6658B1;
    color: white;
    border: 1px solid #E1E1E1;
    font-family: 'main_font';
    font-size: 20px;
    font-weight: 500;
    border-radius: 17px;
    border: 0px;
    width: 277px;
    height: 50px;
}

.field {
    width: 270px;
    height: 40px;
    border-radius: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.12);
    background-color: #F7F7F9;
    border-width: 0;
    outline: none;
    border: none;
    border-top: 0.2px solid rgba(0, 0, 0, 0.1);
    border-left: 0.5px solid rgba(0, 0, 0, 0.2);
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 360px) {
    body {
        height: auto;
    }

    #text_login {
        margin-left: 10px;
    }

    #div_back{
        padding: 1px;
        
    }

    .input_form {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 3px; 
        margin-top: 2px;
        margin-left: 10px;
        width: 291px;
    }

    #login{
        width: 250px;
        height: 50px;
        margin-left: 25px;
    }

    .txt_input {
        margin-bottom: 5px;
    }

    .find_id{
        font-family: 'main_font';
        margin-left: 79px;
    }
}
