.txt{
    text-align: center;
    font-size: 1.3rem;
}

.line {
    border-top: 7px solid rgb(101, 88, 177);
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.container{
    margin-top: 120px;
}
